<%- include('header') %>

<%- include('krepe') %>

<h2>This is the about page</h2>

<p>Minim irure incididunt ex dolore quis laboris qui anim Lorem excepteur. Culpa cillum sunt incididunt voluptate officia qui do commodo esse commodo reprehenderit ad esse. Sint Lorem velit tempor ut.</p>

<%- include('footer') %>